DATABASE_URL=postgresql://username:1234@localhost:5432/lean_audit
JWT_SECRET_KEY=hdspLTuGJQrhd04Rjn9cXkZFEOvrUsvOKAIVl9N0FKt4m8paXFAMsq1juCamgaVVppZsWwyx3r--RUElhaxONg
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=2880
CORS_ORIGINS=http://localhost:5173
INITIAL_ADMIN_EMPLOYEE_ID=admin
INITIAL_ADMIN_PASSWORD=Principal@lean
INITIAL_ADMIN_FULL_NAME=Principal Consultant
